@import '../shared';

/* base content */

body {
  color: $canvas-color-dark-3;
  font: normal normal 15px/1.5 #{$font-family-2};
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &, &:hover {
    color: $accent-color-2;
  }
}

h1, h2, h3, h4, h5, h6 {
  font: { family: $font-family-1; weight: bold; }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

p {
  margin: .7em 0;
}

ol {
  list-style-type: decimal;
  margin: .7em 0;
  padding-left: 1.35em;
}
ul {
  margin: .7em 0;
  li {
    background: transparent url(../images/chevron.png) left 6px no-repeat;
    background-size: 7px 9px;  
    padding-left: 1.35em;
  }
}

blockquote {
  background: transparent url(../images/blockquote-gfx.png) 0 4px no-repeat;
  background-size: 17px 13px;
  color: $canvas-color-dark-2;
  font-family: $font-family-1;
  margin: 20px 0;
  padding-left: 1.35em;
}

img {
  border: 2px solid $canvas-color-light-1;
  box-shadow: 0px 2px 0px $canvas-color-dark-1;
  max-width: 502px; // FIXME
}

hr {
  background: transparent url(../images/hr.png) center repeat-x;
  background-size: cover;
  border: 0;
  height: 18px;
  margin: 0 0 20px;
  outline: none;
}

code {
  background: $canvas-color-light-1;
  font: normal normal .8em/1.7 #{$font-family-3};
  padding: 0 5px 1px;
  pre & { padding: 0; }
}

pre {
  background: $canvas-color-light-1;
  border-bottom: 2px solid $canvas-color-dark-1;
  font: normal normal .9em/1.7 #{$font-family-3};
  margin: 10px 0 20px;
  overflow: auto;
  padding: .7em;
}

table {
  background: $canvas-color-light-1;
  border: {
    bottom: 2px solid $canvas-color-dark-1;
    collapse: separate;
  }
  display: table;
  margin: 10px 0;
  width: 100%;
}
tr {
  display: table-row;
}
th {
  border: {
    style: solid;
    color: $canvas-color;
    width: 0 2px 2px 0;
  }
  color: $accent-color-1-light-1;
  display: table-cell;
  font: { family: $font-family-1; size: .85em; weight: bold; }
  padding: 2px 10px;
}
td {
  border: {
    style: solid;
    color: $canvas-color;
    width: 0 2px 2px 0;
  }
  display: table-cell;
  padding: 0 .7em;
}
td:last-child, th:last-child {
  border-right: none;
}
table > tr:last-child {
  th, td {
    border-bottom: none;
  }
}

dl {
  margin: .7em 0 20px;
}
dt {
  font: { family: $font-family-1; weight: bold; }
}
dd {
  padding-left: 1.35em;
}
dd p:first-child {
  margin-top: 0;
}

@include retina {

  ul li {
    background-image: url(../images/chevron-2x.png);
  }
  blockquote {
    background-image: url(../images/blockquote-gfx-2x.png);
  }
  hr {
    background-image: url(../images/hr-2x.png);
  }

}
