@import '../shared';

/* content-based headers */

%badge-container {
  /* badges */
  * {
    vertical-align: baseline;
  }
  img {
    border: 0;
    box-shadow: none;
  }
}

#main_content {
  h1 {
    @extend %badge-container;
    border-bottom: 0.2em double $canvas-color-dark-1;
    color: $accent-color-1;
    font-size: 1.85rem;
    line-height: 1.4;
    margin: 1.1em 0 0.38em;
    padding-bottom: $y-spacing-1;
    text-align: center;
  }

  h2 {
    @extend %badge-container;
    border-bottom: 0.1em solid $canvas-color-dark-1;
    color: $accent-color-1;
    font-size: 1.58rem;
    line-height: 1.4;
    margin: 0.95em 0 0.5em;
    padding-bottom: $y-spacing-1
  }

  h3 {
    font-size: 1.45rem;
    margin: $y-spacing-3 0 $y-spacing-1;
  }

  h4 {
    color: $accent-color-1-light-1;
    font-size: 1.2rem;
    margin: 0.6em 0;
  }

  h5 {
    color: $accent-color-2-light-3;
    font-size: 1rem;
    margin: 0.7em 0;
  }

  h6 {
    font-size: 0.85rem;
    margin: 0.8em 0;
  }
}
