@import 'shared';

/* footer */

$shadow-offset: 2px;
$ribbon-gutter-width: 114px;
$ribbon-less-gutter-width: 44px;

footer {
  @include ribbon-tails($height: 29px, $width: 18px, $shadow-offset: $shadow-offset,
                        $backface-hint-size: 8px, $backface-hint-x-offset: 4px,
                        $backface-hint-y-offset: 5px,
                        $from-angle: top);
  margin: 0 auto 40px;
  padding-top: 60px;
  text-align: center;
  z-index: 5;
  .ribbon-outer {
    border-bottom: $shadow-offset solid $canvas-color-dark-1;
    display: block;
    position: relative;
  }
  .ribbon-inner {
    background-color: $accent-color-1-light-1;
    border: 2px solid $accent-color-1;
    display: block;
    padding: 1px;
    position: relative;
    z-index: 1;
  }
  p {
    color: $accent-color-2-light-2;
    font: bold 0.8em $font-family-1;
    padding: { left: 1em; right: 1em; }
  }
  > p {
    margin: { top: 1.4em; bottom: 1.4em; }
  }
  .ribbon-inner p {
    background-color: $accent-color-1;
    color: $accent-color-1-light-2;
    font: bold italic 12px/1 #{$font-family-2};
    margin: 0;
    padding: { top: 3px; bottom: 4px; }
  }
  a {
    color: $accent-color-1-light-1;
  }
  .ribbon-inner a {
    bottom: -1px;
    color: $accent-color-2-light-1;
    font: normal 800 1.2em $font-family-1;
    position: relative;
    text-transform: uppercase;
    &:hover {
      color: $accent-color-2-light-1;
    }
  }
  .octocat {
    $size: 30px;
    background: url(../images/octocat.png) no-repeat;
    background-size: cover;
    display: block;
    width: $size;
    height: $size;
    margin: 0 auto;
  }
}

@include desktop {
  footer {
    width: $desktop-wrapper-width - $ribbon-gutter-width;
  }
}

@include tablet {
  footer {
    width: $tablet-wrapper-width - $ribbon-gutter-width;
  }
}

@include phone {
  footer {
    width: $phone-wrapper-width - $ribbon-less-gutter-width;
  }
}

@include retina {
  footer {
    .octocat {
      background-image: url(../images/octocat-2x.png);
    }
  }
}
