@import 'shared';

/* footer */

$shadow-offset: 2px;
$ribbon-gutter-width: 114px;
$ribbon-less-gutter-width: 44px;

footer {
  @include ribbon-tails($height: 29px, $width: 18px, $shadow-offset: $shadow-offset,
                        $backface-hint-size: 8px, $backface-hint-x-offset: 4px,
                        $backface-hint-y-offset: 5px,
                        $from-angle: top);
  padding-top: 4rem;
  text-align: center;
  z-index: 5;
  .ribbon-outer {
    border-bottom: $shadow-offset solid $canvas-color-dark-2;
    position: relative;
  }
  .ribbon-inner {
    $inner-border-width: 1px;
    $inner-border-margin: 2px;
    $padding: $inner-border-width + $inner-border-margin;
    background-color: $accent-color-1;
    box-shadow: inset 0 0 0 $inner-border-margin $accent-color-1,
                inset 0 0 0 $padding $accent-color-1-light-1;
    padding: $padding;
    position: relative;
    z-index: 1;
  }
  p {
    color: $accent-color-2-light-3;
    font: 700 0.8em $font-family-1;
    padding: { left: $x-spacing-2; right: $x-spacing-2; }
  }
  > p {
    margin: { top: $y-spacing-3; bottom: $y-spacing-3; }
  }
  .ribbon-inner p {
    color: $accent-color-1-light-2;
    font: italic #{$full-font-size}/1 $font-family-2;
    margin: 0;
    padding: { top: 3px; bottom: 4px; }
  }
  a {
    color: $accent-color-1-light-1;
  }
  .ribbon-inner a {
    bottom: -1px;
    color: $accent-color-2-light-2;
    font: normal 800 round(0.9 * $full-font-size) $font-family-1;
    position: relative;
    text-transform: uppercase;
    &:hover {
      color: $accent-color-2-light-2;
    }
  }
  .octocat {
    $size: 30px;
    background: url(../images/octocat.png) no-repeat;
    background-size: cover;
    width: $size;
    height: $size;
    margin: 0 auto;
  }
}

@include desktop {
  footer {
    width: $desktop-wrapper-width - $ribbon-gutter-width;
  }
}

@include tablet {
  footer {
    width: $tablet-wrapper-width - $ribbon-gutter-width;
  }
}

@include phablet {
  footer {
    width: $phablet-wrapper-width - $ribbon-less-gutter-width;
  }
}

@include phone {
  footer {
    width: $phone-wrapper-width - $ribbon-less-gutter-width;
  }
}

@include pod {
  footer {
    width: $pod-wrapper-width - $ribbon-less-gutter-width;
  }
}

@include retina {
  footer {
    .octocat {
      background-image: url(../images/octocat-2x.png);
    }
  }
}
