@import 'shared';

/* header */

$shadow-offset: 5px;
$ribbon-gutter-width: 70px;
$downloads-content-offset: 6px;

$downloads-gutter-width: 120px;
$downloads-gutter-width-no-ribbon: 48px;

$downloads-desktop-width: $desktop-wrapper-width - $downloads-gutter-width;
$downloads-tablet-width: $tablet-wrapper-width - $downloads-gutter-width;
$downloads-phone-width: $phone-wrapper-width - $downloads-gutter-width-no-ribbon;

$content-gutter-width: $downloads-gutter-width + ($downloads-content-offset * 2);
$content-gutter-width-no-ribbon: $downloads-gutter-width-no-ribbon + ($downloads-content-offset * 2);

$content-desktop-width: $desktop-wrapper-width - $content-gutter-width;
$content-tablet-width: $tablet-wrapper-width - $content-gutter-width;
$content-phone-width: $phone-wrapper-width - $content-gutter-width-no-ribbon;

%downloads-tail-tip {
  position: absolute;
  left: 0; right: 0; margin: { left: auto; right: auto; }
  width: 0; height: 0;
  border: {
    style: solid; color: transparent;
  }
  @include desktop {
    $width: $downloads-desktop-width / 2;
    border: { left-width: $width; right-width: $width; }
  }
  @include tablet {
    $width: $downloads-tablet-width / 2;
    border: { left-width: $width; right-width: $width; }
  }
  @include phone {
    $width: $downloads-phone-width / 2;
    border: { left-width: $width; right-width: $width; }
  }
}

header {
  /* base */
  @include ribbon-tails($height: 105px, $width: 56px, $shadow-offset: $shadow-offset,
                        $backface-hint-size: 25px, $backface-hint-x-offset: 12px,
                        $backface-hint-y-offset: 16px);
  margin: 0 auto;
  position: relative;
  top: 38px;
  z-index: 3;
  > .ribbon-outer {
    @extend %clearfix;
    display: block;
  }
  .ribbon-inner {
    background-color: $accent-color-1-light-1;
    border: 4px solid $accent-color-1;
    box-shadow: 0 30px 0 -25px $accent-color-2-dark-1;
    display: block;
    padding: 2px;
    position: relative;
    z-index: 1;
  }
  h1 {
    background-color: $accent-color-1;
    color: $canvas-color;
    font: { size: 2.5em; style: normal; weight: 800; }
    line-height: 1;
    padding: 14px 20px 0;
    text-align: center;
    text-transform: uppercase;
  }
  h2 {
    background-color: $accent-color-1;
    color: $accent-color-1-light-2;
    font: bold italic .85em/1.5 #{$font-family-2};
    margin-top: -3px;
    padding-bottom: 14px;
    text-align: center;
  }
}

section#downloads {
  /* base */
  $shadow-color: mix($canvas-color, $canvas-color-dark-0);
  $tail-height: 30px;
  $tail-pull: $shadow-offset - $tail-height;
  background: $shadow-color;
  display: block;
  margin: -80px auto 10px;
  padding-bottom: $shadow-offset;
  position: relative;
  z-index: 2;
  > .inner {
    $bg-color: $accent-color-2-light-0;
    $line-color: $accent-color-2-light-1;
    background-color: $bg-color;
    padding-bottom: 10px;
    > .tip {
      @extend %downloads-tail-tip;
      bottom: $tail-pull;
      border-top: { color: $bg-color; width: $tail-height; }
      z-index: -1;
    }
  }
  > .tip {
    /* shadow */
    @extend %downloads-tail-tip;
    bottom: $tail-pull - $shadow-offset;
    border-top: { color: $shadow-color; width: $tail-height; }
    z-index: -2;
  }
  a {
    $color: $accent-color-2-light-3;
    color: $color;
    display: inline-block;
    font: { family: #{$font-family-1}; size: 1.3em; weight: 800; }
    line-height: 1;
    padding-top: 135px;
    text-align: center;
    width: 50%;
    &:focus {
      outline: none;
    }
    &:hover {
      color: lighten($color, 10%);
      background-image: linear-gradient(to bottom, $accent-color-2-dark-1, $accent-color-2-light-0);
      text-decoration: none;
    }
    em {
      display: block;
      font: bold italic 12px/1 #{$font-family-2};
      margin-bottom: 0.5em;
    }
  }
}

section#main_content {
  /* base */
  background-image: linear-gradient(to bottom,
    $canvas-color-light-1 200px,
    $canvas-color 80%,
    $canvas-color-dark-0
  );
  box-shadow: 0 -2px 1px 1px $canvas-color-dark-1;
  box-sizing: border-box;
  margin: { top: -215px; bottom: -245px; }
  margin: { left: auto; right: auto; }
  min-height: 185px;
  padding: 230px 20px 200px;
  z-index: 1;
}

@include desktop {
  header {
    width: $desktop-wrapper-width - $ribbon-gutter-width;
  }
  section#downloads {
    width: $downloads-desktop-width;
  }
  section#main_content {
    width: $content-desktop-width;
  }
}

@include tablet {
  header {
    width: $tablet-wrapper-width - $ribbon-gutter-width;
  }
  section#downloads {
    width: $downloads-tablet-width;
  }
  section#main_content {
    width: $content-tablet-width;
  }
}

@include phone {
  header {
    width: $phone-wrapper-width;
  }
  section#downloads {
    width: $downloads-phone-width;
  }
  section#main_content {
    width: $content-phone-width;
  }
}
