@import 'shared';

/* header */

header {
  position: relative;
  z-index: 2;
  .ribbon-inner {
    background-color: $accent-color-1-light-1;
    border: { style: solid; color: $accent-color-1; }
    display: block;
    position: relative;
    z-index: 1;
  }
  .left-tail, .right-tail {
    background: { color: transparent; position: 0 0; repeat: no-repeat; }
    display: block;
    position: absolute;
    z-index: 0;
  }
  h1 {
    background-color: $accent-color-1;
    color: $canvas-color;
    font: { style: normal; weight: 800; }
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
  }
  h2 {
    background-color: $accent-color-1;
    color: $accent-color-1-light-2;
    font: bold italic .85em/1.5 #{$font-family-2};
    margin-top: -3px;
    padding-bottom: 14px;
    text-align: center;
  }
}

section#downloads {
  display: block;
  padding-bottom: 150px;
  position: relative;
  z-index: 1;
  a {
    background: transparent url(../images/download-sprite.png) 0 0 no-repeat;
    color: #fff;
    display: block;
    height: 67px;
    font: { family: #{$font-family-1}; size: 1.3em; weight: 800; }
    line-height: 1;
    padding-top: 130px;
    position: relative;
    text-align: center;
    width: 275px;
    &:hover {
      text-decoration: none;
    }
    em {
      color: $accent-color-2-light-3;
      display: block;
      font: bold italic 12px/1 #{$font-family-2};
    }
    &.zip {
      float: left;
      background-position: 0 0;
      &:hover {
        background-position: 0 -197px;
      }
    }
    &.tgz {
      float: right;
      background-position: -275px 0;
      &:hover {
        background-position: -275px -197px;
      }
    }
  }
}

span.banner-fix {
  display: block;
  position: absolute;
}

section#main_content {
  min-height: 185px;
  z-index: 2;
}

@include desktop {

  header {
    margin: 0 auto;
    max-width: 600px;
    top: 38px;
    .ribbon-inner {
      border-width: 4px;
      padding: 2px;
    }
    .left-tail, .right-tail {
      background-image: url(../images/ribbon-tail-sprite.png);
      bottom: -37px;
      height: 105px;
      width: 56px;
    }
    .left-tail {
      background-position: 0 0;
      left: -31px;
    }
    .right-tail {
      background-position: -56px 0;
      right: -31px;
    }
    h1 {
      font-size: 2.5em;
      padding: 14px 20px 0;
    }
  }

  section#downloads {
    background: transparent url(../images/bg-ramp.jpg) center 171px no-repeat;
    height: 197px;
    margin: -80px auto -150px;
    width: 550px;
  }

  span.banner-fix {
    background: transparent url(../images/download-fallback-bg.png) center top no-repeat;
    height: 19px;
    top: 19px;
    width: 670px;
  }

  section#main_content {
    padding: 20px 82px 0;
  }

}

@include mobile {

  header {
    margin: 0;
    max-width: $mobile-wrapper-width;
    top: 51px;
    .ribbon-inner {
      border-width: 8px;
      padding: 6px;
    }
    .left-tail, .right-tail {
      background-image: url(../images/ribbon-tail-sprite-2x.png);
      bottom: -10px;
      height: 10px;
      width: 19px;
    }
    .left-tail {
      background-position: 0 0;
      left: 0;
    }
    .right-tail {
      background-position: -19px 0;
      right: 0;
    }
    h1 {
      font-size: 2em;
      padding: 14px 20px 0;
    }
  }

  section#downloads {
    background: transparent url(../images/shield.png) center 0 no-repeat;
    height: 171px;
    margin: 51px auto -250px;
    width: 602px;
    a {
      display: none;
    }
  }

  span.banner-fix {
    background: transparent url(../images/shield-fallback.png) center top no-repeat;
    height: 31px;
    top: 20px;
    width: $mobile-wrapper-width;
  }

  section#main_content {
    padding: 20px 40px 0;
  }
}
