@import 'shared';

* {
  background: none !important;
  color: #333 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: $accent-color-1 !important;
}

a {
  color: $accent-color-2 !important;
}

#forkme_banner,
#downloads,
.left-tail,
.right-tail {
  display: none !important;
}

.ribbon-inner,.ribbon-outer {
  border: 0 !important;
}
