@import 'shared';

* {
  background: none !important;
  box-shadow: none !important;
  color: $canvas-color-dark-4 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: $accent-color-1 !important;
}

a {
  color: $accent-color-2 !important;
}

hr {
  border-bottom: 2px solid $canvas-color-dark-1;
}

#forkme_banner,
#downloads,
.left-tail,
.right-tail {
  display: none !important;
}

.ribbon-inner, .ribbon-outer {
  border: 0 !important;
}
