// primary accent color range
$accent-color-1: #7c334f;
$accent-color-1-light-1: #cd596b;
$accent-color-1-light-2: #e69b95;

// secondary accent color range
$accent-color-2: #417090;
$accent-color-2-light-0: #5b7e99;
$accent-color-2-light-1: #7eb0d2;
$accent-color-2-light-2: #8b786f;
$accent-color-2-light-3: #83b7da;
$accent-color-2-dark-1: #3d667c;

// base color range, constrained to a dark-on-light theme
$canvas-color: #ece4d8;
$canvas-color-dark-0: #d3ccc1;
$canvas-color-dark-1: #bdb6ad;
$canvas-color-dark-2: #8b786f;
$canvas-color-dark-3: #544943;
$canvas-color-light-1: #fff6e9;

// layout sizes
$full-wrapper-width: 800px;
$mobile-wrapper-width: 640px;

// responsive breakpoints
$mobile-inner-width: $mobile-wrapper-width;
$mobile-outer-width: $mobile-inner-width + 1px;

// headline font
$font-family-1: 'Open Sans', Myriad, Calibri, sans-serif;
// caption font
$font-family-2: Georgia, Times, 'Times New Roman', serif;
// monospace font
$font-family-3: 'Lucida Sans Typewriter', 'Lucida Console', Monaco, 'Bitstream Vera Sans Mono', monospace;

%clearfix {
  &:before, &:after { content: ' '; display: table; }
  &:after { clear: both; }
}

@mixin desktop {
  @media screen and (min-device-width: $mobile-outer-width) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-device-width: $mobile-inner-width) {
    @content;
  }
}
